* {
    margin: 0;
    padding: 0;
}

/* Bahan */
.break {
    clear: both;
}

.content-heading {}

/* Home Background */
.home-background {
    background: url('../images/home-banner.jpg');
    height: 500px;
    background-size: cover;
}

/* Why Content */
.why-heading {
    text-align: center;
    font-size: 30px;
    margin: 5% 0;
}

.why-section {
    margin-bottom: 5%;
    transition: 0.4s;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.why-section>h1 {
    font-size: 17px;
    color: #2980b9;
}

.why-line {
    width: 50px;
    background: #2980b9;
    height: 2px;
    margin-bottom: 20px;
}

.why-section>p {
    font-size: 17px;
}

/* Design Category Content */
.design-category {
    margin-bottom: 10%;
    transition: 0.4s;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.design-category .category-icon>img {
    width: 100%;
}

.design-category .category-name>p {
    font-size: 17px;
}

/* Product Content */
.product {
    margin-bottom: 10%;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.product>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.product-info {
    /* background: red; */
    padding: 10px;
    box-sizing: border-box;
}

.product-info>h1 {
    font-size: 17px;
    color: #2980b9;
    margin-bottom: 15px;
}

.product-info>p {
    font-size: 17px;
}

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #2980b9;
    float: right;
}

.product-category {
    background: #FFE484;
    color: #343A40;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

/* Form */
#form {
    margin: 7% auto;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
    padding: 0;
    border-radius: 10px;
}

.form-header {
    background: #283677;
    border-radius: 10px 10px 0 0;
}

.form-header .form-logo {
    padding: 0;
}

.form-header .form-logo>a>img {
    width: 70%;
    border-radius: 10px 0 0 0;
}

.form-header .form-heading {
    padding: 0;
}

.form-header .form-heading>p {
    font-size: 20px;
    margin: 15px 0;
    color: white;
}

#form .form-spacing {
    padding: 0 20px;
    margin: 30px 0;
}

.form-group {
    position: relative;
}

.form-label-icon {
    position: absolute;
    right: 15px;
    transform: translate(0, 155%);
    color: #0069d9;
}

.form-control:focus {
    outline: none !important;
}

.form-button {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 9px 0;
    border: none;
}

/* Tabel */
.table-section {
    margin: 50px auto;
    padding: 0;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-header {
    padding: 10px 10px 0 10px;
    background: #41B3E7;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.table-heading>p {
    font-size: 25px;
}

.table-spacing {
    padding: 20px;
}

.tbl_image {
    width: 15%;
}

.tbl_image>img {
    width: 50%;
}

.label-icon {
    background: #007BFF;
    color: white;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}

.label-icon>img {
    width: 100%;
}

#icon_kategori {
    display: none;
}

@media screen and (max-width: 780px) {}

@media screen and (max-width: 380px) {

    /* Home Background */
    .home-background {
        height: 200px;
        background-position: 50% 50%;
    }

    /* Why Content */
    .why-heading {
        font-size: 20px;
    }

    .why-section {
        padding: 20px;
    }

    .why-section>h1 {
        font-size: 15px;
    }

    .why-section>p {
        font-size: 15px;
    }

    /* Design Category Content */
    .design-category {
        margin-bottom: 20%;
    }

    .design-category .category-name {
        padding: 0;
        margin-top: 10px;
    }

    .design-category .category-name>p {
        font-size: 15px;
        text-align: center;
    }

    /* Product Content */
    .product-spacing {
        padding: 5px;
    }

    .product {
        margin-bottom: 0;
        border-radius: 5px;
    }

    .product>img {
        border-radius: 5px 5px 0 0;
    }

    .product-info>h1 {
        font-size: 15px;
    }

    .product-info>p {
        font-size: 15px;
    }

    .rating>label:before {
        margin: 3px;
        font-size: 1em;
    }

    .product-category {
        padding: 2px;
        font-size: 13px;
        border-radius: 5px;
        top: 5px;
        right: 5px;
    }

    /* Form */
    #form {
        margin: 25% auto;
    }

    /* Table */
    .table-section {
        overflow: scroll;
    }
}